// ============================================================================
//  _____     ______     ______   ______     __  __     __         ______
// /\  __-.  /\  ___\   /\  ___\ /\  __ \   /\ \/\ \   /\ \       /\__  _\
// \ \ \/\ \ \ \  __\   \ \  __\ \ \  __ \  \ \ \_\ \  \ \ \____  \/_/\ \/
//  \ \____-  \ \_____\  \ \_\    \ \_\ \_\  \ \_____\  \ \_____\    \ \_\
//   \/____/   \/_____/   \/_/     \/_/\/_/   \/_____/   \/_____/     \/_/
//
// ============================================================================

  $enable-box-sizing-border-box: true;
  $enable-normalize:             true;

  $oo-size-base:    16px;
  $oo-line-height:  1.4;
  $oo-spacing-unit: $oo-size-base;

  $oo-container-max: 1280px;

  $oo-font-primary:  Roboto, "Helvetica Neue", Arial, sans-serif;
  $oo-font-heading:  $oo-font-primary;

  $oo-transition-duration: 250ms;
  $oo-transition-timing: ease-in-out;

// ============================================================================
//   ______     ______     __         ______     ______     ______
//  /\  ___\   /\  __ \   /\ \       /\  __ \   /\  == \   /\  ___\
//  \ \ \____  \ \ \/\ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \___  \
//   \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\
//    \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/
//
// ===========================================================================

  $color-white: #ffffff;
  $color-black: #000000;
  $color-gray: #dddddd;

  $color-primary: #0074d9;
  $color-secondary: #ffdc00;

  $color-body-text: var(--color-body-text);
  $color-body: var(--color-main-background);
  $color-accent: var(--color-accent);
  $color-border: var(--color-border);

  $color-error: #ff6d6d;
  $color-error-bg: #ffffff;
  $color-success: #000000;
  $color-success-bg: #000000;
  $color-disabled: #000000;
  $color-disabled-border: #000000;

// =========================================================================
//  ______   ______     __   __     ______   ______
// /\  ___\ /\  __ \   /\ "-.\ \   /\__  _\ /\  ___\
// \ \  __\ \ \ \/\ \  \ \ \-.  \  \/_/\ \/ \ \___  \
//  \ \_\    \ \_____\  \ \_\\"\_\    \ \_\  \/\_____\
//   \/_/     \/_____/   \/_/ \/_/     \/_/   \/_____/
//
// =========================================================================

  $font-heading: $oo-font-primary;
  $font-body: $oo-font-primary;
  $font-body-weight: 400;
  $font-body-bold-weight: 600;

// =========================================================================
//  __    __     ______
// /\ "-./  \   /\  __ \
// \ \ \-./\ \  \ \ \/\_\
//  \ \_\ \ \_\  \ \___\_\
//   \/_/  \/_/   \/___/_/
//
//
// =========================================================================

  $breakpoints: (
    480px  'xs' 'xsmall',
    600px  's' 'small' ,
    768px  'm' 'medium' ,
    992px  'l' 'large' ,
    1280px 'xl' 'xlarge' ,
    1440px 'xxl' 'xxlarge '
  );
