// ============================================================================
//  _____     ______     ______   ______     __  __     __         ______
// /\  __-.  /\  ___\   /\  ___\ /\  __ \   /\ \/\ \   /\ \       /\__  _\
// \ \ \/\ \ \ \  __\   \ \  __\ \ \  __ \  \ \ \_\ \  \ \ \____  \/_/\ \/
//  \ \____-  \ \_____\  \ \_\    \ \_\ \_\  \ \_____\  \ \_____\    \ \_\
//   \/____/   \/_____/   \/_/     \/_/\/_/   \/_____/   \/_____/     \/_/
//
// ============================================================================

  $enable-box-sizing-border-box: true;

  $oo-size-base:    16px;
  $oo-line-height:  1.4;
  $oo-spacing-unit: $oo-size-base;

  $oo-container-max: 1280px;

  $oo-font-primary:  Roboto, "Helvetica Neue", Arial, sans-serif;
  $oo-font-heading:  $oo-font-primary;

  $oo-transition-duration: 300ms;
  $oo-transition-timing: ease-in-out;

// ============================================================================
//   ______     ______     __         ______     ______     ______
//  /\  ___\   /\  __ \   /\ \       /\  __ \   /\  == \   /\  ___\
//  \ \ \____  \ \ \/\ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \___  \
//   \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\
//    \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/
//
// ===========================================================================

  $color-white: var(--color-default-white);
  $color-black: var(--color-default-black);
  $color-gray: var(--color-default-gray);

  $color-1: var(--color-palette-1);
  $color-2: var(--color-palette-2);
  $color-3: var(--color-palette-3);
  $color-4: var(--color-palette-4);
  $color-5: var(--color-palette-5);
  $color-6: var(--color-palette-6);

  $color-body-text: var(--color-body-text);
  $color-body-background: var(--color-body-background);

// =========================================================================
//  ______   ______     __   __     ______   ______
// /\  ___\ /\  __ \   /\ "-.\ \   /\__  _\ /\  ___\
// \ \  __\ \ \ \/\ \  \ \ \-.  \  \/_/\ \/ \ \___  \
//  \ \_\    \ \_____\  \ \_\\"\_\    \ \_\  \/\_____\
//   \/_/     \/_____/   \/_/ \/_/     \/_/   \/_____/
//
// =========================================================================

  $font-heading: var(--font-heading);
  $font-body: var(--font-body);
  $font-body-weight: var(--font-body-weight);
  $font-body-style: var(--font-body-style);
  $font-body-bold-weight: var(--font-body-bold-weight);

// =========================================================================
//  __    __     ______
// /\ "-./  \   /\  __ \
// \ \ \-./\ \  \ \ \/\_\
//  \ \_\ \ \_\  \ \___\_\
//   \/_/  \/_/   \/___/_/
//
//
// =========================================================================

  $breakpoints: (
    480px  'xs' 'xsmall',
    600px  's' 'small' ,
    768px  'm' 'medium' ,
    992px  'l' 'large' ,
    1280px 'xl' 'xlarge' ,
    1440px 'xxl' 'xxlarge '
  );
