.oo-button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: $oo-size-base ($oo-size-base * 1.75);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  -webkit-appearance: none;

  &.button--primary {
    color: $color-white;
    background-color: $color-2;
  }

  &.button--secondary {
    color: $color-white;
    background-color: $color-5;
  }

  &.text-link {
    border: 0 none;
    background: none;
    padding: 0;
    user-select: text;
    color: $color-body-text;
  }
}
