.slider--product-gallery {
  display: flex;

  .slick-list {
    flex: 1;
  }

  .slick-dots {
    order: -1;
    position: static;
    width: 15%;
    max-width: 80px;
    padding-right: 8px;

    li {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      margin-bottom: 8px;
    }

    button {
      width: auto;
      height: auto;
      padding: 0;

      &::before {
        content: '';
      }
    }
  }
}
