.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 1px solid #000000;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
}
