<div class="oo-product-option {{ classes -}}" {{ extra_attrs }}>
  {% for value in option.values %}
    {% assign selected_value = option.selected_value %}
    {% include 'option-value',
      option: option.name,
      value: value,
      selected: selected_value %}
  {% endfor %}
</div>

{% assign selected_value = blank %}
