{%- capture arguments -%}
  {%- include 'argument',
    _name: '_list',
    _required: true,
    _value: _list,
    _type: 'Array',
    _description: '' -%}
  {%- include 'argument',
    _name: 'tag',
    _required: false,
    _value: tag,
    _type: 'String',
    _description: '' -%}
{%- endcapture -%}

{%- capture errors -%}
  {%- include 'errors' with arguments, snippet: 'list' -%}
{%- endcapture -%}


{%- if errors == '' -%}
  <ul class="oo-list {{ classes }}" {{ extra_attrs }}>
    {% for item in _list %}
      <li class="oo-list-item">{{ item }}</li>
    {% endfor %}
  </ul>
{%- else -%}
  {{ errors }}
{%- endif -%}

{%- assign arguments = blank -%}
{%- assign errors = blank -%}
