{%- capture arguments -%}

{%- endcapture -%}

{%- capture errors -%}
  {%- include 'errors' with arguments, snippet: 'list' -%}
{%- endcapture -%}

{%- if errors == '' -%}
  <div class="oo-overlay {{ classes }}" data-overlay {{ extra_attrs }}></div>
{%- else -%}
  {{ errors }}
{%- endif -%}

{%- assign arguments = blank -%}
{%- assign errors = blank -%}
