{%- comment -%}

  Arguments:

    • content - required
    • type

{%- endcomment -%}

<button
  class="oo-button {{ classes -}}"
  {%- if type -%}type="{{- type -}}"{%- endif -%}
  {{ extra_attrs -}}>

  {{- content -}}

</button>
