{%- comment -%}

  Arguments:

    • items - required

{%- endcomment -%}

<div class="oo-grid {{ classes -}}" {{ extra_attrs -}}>

  {%- assign _items_array = items | remove_first: '-->' | split: '-->' -%}
  {% for _item in _items_array %}

    {{ _item }}

  {% endfor %}
  {%- assign _items_array = nil -%}

</div>
