{%- assign the_list = blank -%}
{%- assign the_list = list | remove_first: '-->' | split: '-->' -%}

<ul class="oo-list {{ classes }}" {{ extra_attrs }}>
  {%- for item in the_list -%}
    <li class="oo-list-item">{{- item -}}</li>
  {%- endfor -%}
</ul>
