{%- comment -%}

  Arguments:

    • content - required

{%- endcomment -%}

<ul class="oo-list {{ classes -}}" {{ extra_attrs -}}>

  {%- assign _list_array = content | remove_first: '-->' | split: '-->' -%}
  {%- for _item in _list_array -%}

    <li class="oo-list--item">

      {{- _item -}}

    </li>

  {%- endfor -%}
  {%- assign _list_array = nil -%}

</ul>
