{%- comment -%}

  Arguments:

  - name
  - classes
  - attrs

{%- endcomment -%}

<div class="oo-icon icon-{{- name }} {{ classes -}}" {{ attrs -}}>

  {%- assign _icon_name = name | prepend: 'icon-' -%}

  {%- include _icon_name -%}

  {%- assign _icon_name = nil -%}

</div>
