@charset 'UTF-8';

/**
 * [replace with theme name] | Built with Slate
 */
@import '~normalize.css/normalize';

// Helpers
@import './helpers/helpers';

// Base
@import './base/base';

// Atoms
@import './atoms/button';
@import './atoms/grid';
@import './atoms/heading';
@import './atoms/icon';
@import './atoms/image';
@import './atoms/input';
@import './atoms/label';
@import './atoms/link';
@import './atoms/price';
@import './atoms/text';
@import './atoms/overlay';

// Molecules
@import './molecules/icon-with-text';
@import './molecules/input-group';
@import './molecules/option-group';
@import './molecules/product-card';
@import './molecules/quantity-select';

// Organisms
@import './organisms/inline-cart';
@import './organisms/primary-navigation';

// Layout
@import './layout/header';


#preview-bar-iframe {
  display: none !important;
}

.add-to-cart-controls {
  width: 200px;
  position: relative;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  // color: pink;
}
