{%- capture _arguments -%}

{%- endcapture -%}

{%- capture _errors -%}
  {%- include 'errors' with _arguments, _snippet: 'form-search' -%}
{%- endcapture -%}

{%- assign _arguments = nil -%}

{%- if _errors == '' -%}

  <form
    action="/search"
    method="get"
    class="oo-form-search {{ classes -}}"
    role="search"
    data-form="search"
    {{ extra_attrs -}}>

    {% include 'input',
      _type: 'search',
      _name: 'q',
      _classes: 'inside-oo-form-search',
      _extra_attrs: 'placeholder="search"' %}

    {% capture _contents %}
      {% include 'icon',
        _name: 'search',
        _classes: 'inside-oo-button',
        _extra_attrs: '' %}
      <span class="icon__fallback-text">Search</span>
    {% endcapture %}

    {% include 'button',
      _type: 'submit',
      _contents: _contents,
      _classes: 'inside-oo-form-search',
      _extra_attrs: ''  %}

    {% assign _contents = nil %}

  </form>

{%- else -%}

  {{- _errors -}}

{%- endif -%}

{%- assign _errors = nil -%}
