{%- capture _arguments -%}
  {%- include 'argument',
    _value: _line_item,
    _name: '_line_item',
    _required: true -%}
{%- endcapture -%}

{%- capture _errors -%}
  {%- include 'errors' with _arguments, _snippet: 'line-item' -%}
{%- endcapture -%}

{%- assign _arguments = nil -%}

{%- if _errors == '' -%}

  {%- assign _classes = classes | append: ' oo-line-item' -%}

  {%- capture _product_container_content -%}
    {%- capture _link_content -%}
      {%- include 'image',
        resource: _line_item.product.featured_image,
        size: '800x',
        srcset: '480x,600x,768x,450x,575x',
        sizes: 'max 480px 480px,max 600px 600px,max 768px 768px,max 992px 992px,min 993px 575px'
        classes: 'inside-oo-line-item oo-line-item--image-wrapper',
        extra_attrs: '' -%}
    {%- endcapture -%}

    {%- include 'link',
      href: _line_item.variant.url,
      content: _link_content -%}

    {%- assign _link_content = nil -%}

    <div class="oo-line-item--information-wrapper">

      {%- include 'header',
        title: _line_item.product.title,
        level: 4,
        classes: 'inside-oo-line-item--information-wrapper',
        extra_attrs: '' -%}

      {%- include 'price',
        resource: _line_item.variant,
        classes: 'inside-oo-line-item--information-wrapper',
        extra_attrs: '' -%}

      {%- include 'text',
        content: _line_item.product.title,
        classes: 'inside-oo-line-item--information-wrapper',
        extra_attrs: '' -%}

      {%- include 'quantity-select',
        quantity: _line_item.quantity,
        classes: 'inside-oo-line-item--information-wrapper',
        extra_attrs: '' -%}

      {%- include 'price',
        resource: _line_item,
        classes: 'inside-oo-line-item--information-wrapper',
        extra_attrs: '' -%}

    </div>

    {%- capture _content -%}
      {%- include 'icon',
        name: 'cancel',
        classes: 'inside-oo-button',
        extra_attrs: '' -%}
    {%- endcapture -%}

    {%- include 'button',
      content: _content,
      classes: 'inside-oo-line-item',
      extra_attrs: 'data-cart-remove-item' -%}

    {%- assign _content = nil -%}
  {%- endcapture -%}

  {%- include 'product-container',
    tag: 'div',
    _line_item: _line_item,
    content: _product_container_content,
    classes: _classes,
    extra_attrs: extra_attrs -%}

  {%- assign _classes = nil -%}
  {%- assign _product_container_content = nil -%}

{%- else -%}

  {{- _errors -}}

{%- endif -%}

{%- assign _errors = nil -%}
