<div class="oo-menu {{ classes }}" {{ extra_attrs }}>
  {% include 'heading',
    heading: heading,
    level: level,
    classes: 'inside-oo-menu' %}
  {% include 'list' with list,
    classes: 'inside-oo-menu' %}
</div>
