{%- capture _arguments -%}
  {%- include 'argument',
    _value: _product,
    _name: '_product',
    _required: true -%}
{%- endcapture -%}

{%- capture _errors -%}
  {%- include 'errors' with _arguments, _snippet: 'product-card' -%}
{%- endcapture -%}

{%- assign _arguments = nil -%}

{%- if _errors == '' -%}

  <div
    class="oo-product-card {{ classes -}}"
    data-product-container="{{- _product.handle -}}"
    {{ extra_attrs -}}>

    {% assign _img_count = _product.options_with_values[0].values.size %}

    {%- capture _slider_content -%}
      {%- capture _slides -%}
        {% for i in (1.._img_count) %}
          -->{%- include 'image',
            resource: _product.featured_image,
            size: '275x180',
            crop: 'center' -%}
        {% endfor %}
      {%- endcapture -%}
      {%- include 'slider',
        name: _product.handle,
        slides: _slides -%}
      {%- assign _slides = nil -%}
    {%- endcapture -%}

    {%- include 'link',
      href: _product.url,
      content: _slider_content,
      classes: '',
      extra_attrs: '' -%}

    {%- assign _slider_content = nil -%}

    {% if _product.has_only_default_variant == false %}
      {% include 'option-group',
        option: _product.options_with_values[0],
        classes: '',
        extra_attrs: '' %}
    {% endif %}

    {% capture _heading_content %}
      {%- include 'heading',
        title: _product.title,
        level: 3,
        classes: '',
        extra_attrs: '' -%}
    {% endcapture %}

    {%- include 'link',
      href: '#',
      content: _heading_content,
      classes: '',
      extra_attrs: '' -%}

    {%- assign _heading_content = nil -%}

    {%- include 'price',
      resource: _product,
      classes: '',
      extra_attrs: '' -%}

  </div>

{%- else -%}

  {{- _errors -}}

{%- endif -%}

{%- assign _errors = nil -%}
