{%- capture _arguments -%}
  {%- include 'argument',
    _value: quantity,
    _name: 'quantity',
    _required: false -%}
{%- endcapture -%}

{%- capture _errors -%}
  {%- include 'errors' with _arguments, _snippet: 'quantity-selector' -%}
{%- endcapture -%}

{%- assign _arguments = nil -%}

{%- if _errors == '' -%}

  <div class="oo-quantity-selector {{ classes -}}" {{ extra_attrs -}}>

    {%- include 'button',
      content: '-',
      classes: 'inside-oo-quantity-selctor',
      extra_attrs: 'data-quantity-control="-1"' -%}

    {%- include 'input',
      type: 'number',
      name: 'qty',
      value: quantity,
      id: 'qty',
      classes: 'inside-oo-quantity-selctor',
      extra_attrs: 'min=1' -%}

    {%- include 'button',
      content: '+',
      classes: 'inside-oo-quantity-selctor',
      extra_attrs: 'data-quantity-control="1"' -%}

  </div>

{%- else -%}

  {{- _errors -}}

{%- endif -%}

{%- assign _errors = nil -%}
