{%- capture _arguments -%}
  {%- include 'argument',
    _value: quantity,
    _name: 'quantity',
    _required: false -%}
{%- endcapture -%}

{%- capture _errors -%}
  {%- include 'errors' with _arguments, _snippet: 'quantity-select' -%}
{%- endcapture -%}

{%- assign _arguments = nil -%}

{%- if _errors == '' -%}

  <div
    class="oo-quantity-select {{ classes -}}"
    data-quantity-select-control
    {{ extra_attrs -}}>

    {%- include 'button',
      content: '-',
      classes: 'inside-oo-quantity-select',
      extra_attrs: 'data-quantity-change=-1' -%}

    {%- include 'input',
      type: 'number',
      name: 'quantity',
      value: quantity,
      id: 'quantity',
      classes: 'inside-oo-quantity-select',
      extra_attrs: 'min=1 data-quantity-value' -%}

    {%- include 'button',
      content: '+',
      classes: 'inside-oo-quantity-select',
      extra_attrs: 'data-quantity-change=1' -%}

  </div>

{%- else -%}

  {{- _errors -}}

{%- endif -%}

{%- assign _errors = nil -%}
