{% assign the_networks = blank %}
{% assign the_networks = networks | split: '::' %}

<div class="oo-social-media-icons">
  {% for network in the_networks %}
    {% assign the_icon = blank %}
    {% capture the_icon %}
      {% include 'icon', name: network %}
    {% endcapture %}

    {% assign setting_name = blank %}
    {% assign setting_name = 'social_' | append: network | append: '_link' %}

    {% assign href = blank %}
    {% assign href = settings[setting_name] %}

    {% assign extra_attrs = blank %}
    {% capture extra_attrs %}
      data-network="{{ network }}"
    {% endcapture %}

    {% if type != blank %}
      {% include type,
        content: the_icon,
        href: href,
        extra_attrs: extra_attrs %}
    {% else %}
      {% include 'link',
        content: the_icon,
        href: href,
        extra_attrs: extra_attrs %}
    {% endif %}
  {% endfor %}
</div>
