<div class="debug add-to-cart-controls">
  <div>
    {% include 'button',
      content: 'Add To Cart',
      extra_attrs: 'data-add-to-cart' %}
  </div>

  <div>
    {% include 'button',
      content: 'Get Cart',
      extra_attrs: 'data-get-cart' %}
  </div>

  <div>
    {% include 'button',
      content: 'Remove from Cart',
      extra_attrs: 'data-remove-from-cart' %}
  </div>

  <div>
    {% include 'button',
      content: 'Empty Cart',
      extra_attrs: 'data-empty-cart' %}
  </div>

  <div>
    {% include 'button',
      content: 'Toggle Inline Cart',
      extra_attrs: 'data-toggle-inline-cart' %}
  </div>
</div>
