{% include 'examples', snippet: 'menu' %}


{%- assign _product = all_products['blue-silk-tuxedo'] -%}

{%- case snippet -%}
  {%- when 'image' -%}

    {%- include 'image',
      resource: _product.featured_image,
      srcset: '480x,600x,768x,450x,575x',
      size: '800x',
      sizes: 'max 480px 480px,max 600px 600px,max 768px 768px,max 992px 992px,min 993px 575px' -%}

  {%- when 'images' -%}

    <div class="image-container">
      {%- include 'image', resource: _product.featured_image, size: '992x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
      {%- include 'image', resource: _product.featured_image, size: '600x' -%}
    </div>

  {%- when 'social_media_icons' -%}

    {%- include 'social_media_icons',
      networks: 'facebook,twitter,pinterest',
      type: 'button' -%}

  {%- when 'quantity' -%}

    {%- include 'quantity-select', quantity: 1 -%}

  {%- when 'icon' -%}

    {%- include 'icon-with-text',
      icon: 'facebook',
      text: 'Our Facebook' -%}

  {%- when 'img_url' -%}

    {%- include 'img_url',
      resource: _product.featured_image,
      filter: 'img',
      size: '600x',
      descriptor: ' 2x' -%}

  {%- when 'button' -%}

    {%- include 'button',
      content: 'Button',
      type: 'reset' -%}

  {%- when 'text' -%}

    {%- include 'text', content: 'This is some text.' -%}

  {%- when 'price' -%}

    {%- include 'price',
      resource: _product.selected_or_first_available_variant,
      range: true -%}

  {%- when 'heading' -%}

    {%- include 'heading',
      text: 'Heading',
      level: '3' -%}

  {%- when 'icon' -%}

    {%- include 'icon', name: 'facebook' -%}

  {%- when 'input' -%}

    {%- include 'input',
      type: 'number',
      name: 'qty',
      value: 1,
      id: 'qty',
      extra_attrs: 'min=1' -%}

  {%- when 'label' -%}

    {%- include 'label', text: 'Label' -%}

  {%- when 'link' -%}

    {%- include 'link',
      text: 'Link',
      href: '#' -%}

  {%- when 'overlay' -%}

    {%- include 'overlay' -%}

  {%- when 'video' -%}

    {%- include 'video',
      controls: true,
      src: 'https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4' -%}

  {%- when 'image' -%}

    {%- include 'image',
      resource: _product.featured_image,
      srcset: '480x,600x,768x,450x,575x',
      size: '800x',
      sizes: 'max 480px 480px,max 600px 600px,max 768px 768px,max 992px 992px,min 993px 575px' -%}

  {%- when 'basic-list' -%}

    {%- assign list_items = _product.variants | map: 'title' -%}
    {%- include 'list', _list: list_items -%}

  {%- when 'menu' -%}

    {%- for group in linklists['test-menu'].links -%}

      {% capture list_items %}
        {%- for item in group.links -%}
          -->{%- include 'link', content: item.title, href: item.url -%}
        {%- endfor -%}
      {% endcapture %}

      {%- include 'menu', title: group.title, level: 2, list: list_items -%}

      {%- assign list_items = nil -%}

    {%- endfor -%}

  {%- when 'list' -%}

    {%- capture list_items -%}
      {%- for item in linklists['test-list'].links -%}
        -->{%- include 'link', content: item.title, href: item.url -%}
      {%- endfor -%}
    {%- endcapture -%}

    {%- include 'list' with list_items -%}

    {%- assign list_items = nil -%}

{%- endcase -%}

{%- assign list_items = nil -%}
{%- assign content = nil -%}
