.oo-quantity-select {
  border: 1px solid #dddddd;
  display: flex;
  max-width: 150px;
  font-size: 14px;
}

.oo-input.inside-oo-quantity-select {
  width: 66%;
  min-width: 0;
  border: none;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.oo-button.inside-oo-quantity-select {
  width: 33%;
  -webkit-appearance: none;
  appearance: none;
  padding: 13px 15px;
  border: none;
}
