{%- capture arguments -%}
  {%- include 'argument',
    _name: '_text',
    _required: true,
    _value: _text,
    _type: 'String',
    _description: '' -%}
{%- endcapture -%}

{%- capture errors -%}
  {%- include 'errors' with arguments, snippet: 'text' -%}
{%- endcapture -%}

{%- if errors == '' -%}
  <p class="oo-text {{ classes }}" {{ additional_attributes }}>
    {{- _text -}}
  </p>
{%- else -%}
  {{ errors }}
{%- endif -%}

{%- assign arguments = blank -%}
{%- assign errors = blank -%}
