<section class="product-container" data-collection-container="{{ collection.handle }}">

  {% paginate collection.products by 50 %}

    {%- capture _grid_items -%}
      {%- for _product in collection.products -%}
        -->{%- include 'product-card',
          _product: _product,
          show_color_options: true -%}
      {%- endfor -%}
    {%- endcapture -%}

    {%- include 'grid', items: _grid_items  -%}

    {%- assign _grid_items = nil -%}

  {% endpaginate %}

</section>
