{%- capture _product_container_content -%}

  <div class="product-image-gallery">
    {% capture _slides %}
      {% for _image in product.images %}
        -->{% include 'image',
          resource: _image,
          size: '800x' %}
      {% endfor %}
    {% endcapture %}

    {% include 'slider',
      name: 'product-image-gallery',
      slides: _slides %}

    {%- assign _slides = nil -%}
  </div>

  <div class="product-information">
    {% include 'header',
      title: product.title,
      level: 2 %}

    {% include 'price',
      resource: product,
      compare_at_price: true,
      range: true %}

    {% include 'form-add-to-cart', _product: product %}
  </div>

{%- endcapture -%}

{%- include 'product-container',
  tag: 'section',
  _product: product,
  content: _product_container_content -%}

{%- assign _product_container_content = nil -%}
