{% comment %}

  text:
  level:

  classes:

{% endcomment %}

<section data-section-id="{{ section.id }}" data-section-type="main-navigation">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'text' -%}
      {%- include 'text', text: text -%}
    {%- when 'icon_with_text' -%}
      {%- include 'icon-with-text',
        icon: block.settings.icon,
        text: block.settings.title,
        href: block.settings.href  -%}
    {%- endcase -%}
  {%- endfor -%}
</section>

{% schema %}
  {
    "name": "Main Navigation",
    "settings": [
      {
        "type": "link_list",
        "id": "main_navigation",
        "label": "Main Navigation Linklist"
      }
    ],
    "blocks": []
  }
{% endschema %}
