<section data-section-id="{{ section.id }}" data-section-type="main-navigation">

  {% include 'main-navigation', menu: section.settings.main_navigation %}

</section>

{% schema %}
  {
    "name": "Main Navigation",
    "settings": [
      {
        "type": "link_list",
        "id": "main_navigation",
        "label": "Main Navigation Linklist",
        "default": "main-menu"
      }
    ],
    "blocks": []
  }
{% endschema %}
