{%- assign delimeter = '' -%}
{%- if section.settings.is_slider -%}
  {%- assign delimeter = '-->' -%}
{%- endif -%}

{%- capture _content -%}
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'text' -%}
        {{- delimeter -}}{%- include 'text', _content: block.settings.title -%}
      {%- when 'icon_with_text' -%}
        {{- delimeter -}}{%- include 'icon-with-text',
          _icon: block.settings.icon,
          _text: block.settings.title,
          _href: block.settings.href  -%}
    {%- endcase -%}
  {%- endfor -%}
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="topbar">
  {%- if section.settings.is_slider -%}
    {%- include 'slider',
      _name: 'topbar',
      _slides: _content -%}
  {%- else -%}
    {{- _content -}}
  {%- endif -%}
</section>

{% schema %}
  {
    "name": "Topbar",
    "settings": [
      {
        "type": "checkbox",
        "id": "is_slider",
        "label": "is slider?"
      }
    ],
    "blocks": [
      {
        "name": "Text",
        "type": "text",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Text Block"
          }
        ]
      },
      {
        "name": "Icon w/ Text",
        "type": "icon_with_text",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Text Block"
          },
          {
            "id": "icon",
            "type": "select",
            "label": "Icon",
            "info": "Choose an icon",
            "options": [
               {
                 "group": "Menu",
                 "value": "cart",
                 "label": "Cart"
               },
               {
                 "group": "Menu",
                 "value": "hamburger",
                 "label": "Hamburger"
               },
               {
                 "group": "Menu",
                 "value": "search",
                 "label": "Search"
               },
               {
                 "group": "Control",
                 "value": "close",
                 "label": "Close"
               },
               {
                 "group": "Control",
                 "value": "minus",
                 "label": "Minus"
               },
               {
                 "group": "Control",
                 "value": "plus",
                 "label": "Plus"
               },
               {
                 "group": "Social",
                 "value": "facebook",
                 "label": "Facebook"
               },
               {
                 "group": "Social",
                 "value": "instagram",
                 "label": "Instagram"
               },
               {
                 "group": "Social",
                 "value": "pinterest",
                 "label": "Pinterest"
               },
               {
                 "group": "Social",
                 "value": "rss",
                 "label": "Rss"
               },
               {
                 "group": "Social",
                 "value": "snapchat",
                 "label": "Snapchat"
               },
               {
                 "group": "Social",
                 "value": "twitter",
                 "label": "Twitter"
               },
               {
                 "group": "Social",
                 "value": "youtube",
                 "label": "Youtube"
               }
             ]
          },
          {
            "id": "href",
            "type": "url",
            "label": "`href` of Link",
            "info": "[Optional] will convert text above into a link"
          }
        ]
      }
    ]
  }
{% endschema %}
