$color-white: #ffffff !default;
$oo-transition-duration: 300ms !default;
$oo-transition-timing: ease-in-out !default;

.oo-inline-cart {
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  overflow: auto;
  background-color: $color-white;
  transform: translateX(100%);
  transition: transform $oo-transition-duration $oo-transition-timing;

  &.is-active {
    transform: translateX(0);
  }
}
