$oo-transition-duration: 300ms !default;
$oo-transition-timing: linear !default;

.oo-overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  transition: visibility 0s $oo-transition-duration, opacity $oo-transition-duration $oo-transition-timing;

  &.is-active {
    visibility: visible;
    opacity: 1;
    transition: opacity $oo-transition-duration $oo-transition-timing;
  }
}
