<section
  class="oo-header"
  data-section-id="{{ section.id }}"
  data-section-type="header">

  {%- for block in section.blocks -%}
    {%- case block.type -%}

      {%- when 'logo' -%}

        {%- if block.settings.logo_svg_snippet != blank-%}

          {%- include 'svg', snippet: block.settings.logo_svg_snippet -%}

        {%- else -%}

          {%- include 'image',
            resource: block.settings.logo_image,
            size: block.settings.logo_image_size,
            srcset: block.settings.logo_image_srcset,
            sizes: block.settings.logo_image_sizes -%}

        {%- endif -%}

      {%- when 'primary_navigaiton' -%}

        {%- include 'primary-navigation',
          menu: block.settings.primary_navigation_linklist -%}

      {%- when 'secondary_navigaiton' -%}

        {%- include 'secondary-navigation',
          menu: block.settings.secondary_navigation_linklist -%}

    {%- endcase -%}
  {%- endfor -%}

</section>

{% schema %}
  {
    "name": "Header",
    "settings": [],
    "blocks": [
      {
        "name": "Logo",
        "type": "logo",
        "limit": 1,
        "settings": [
          {
             "type": "header",
             "content": "SVG"
          },
          {
            "type": "text",
            "id": "logo_svg_snippet",
            "label": "If image is svg snippet, enter snippet name here"
          },
          {
             "type": "header",
             "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "logo_image",
            "label": "If image is non-svg, add it here"
          },
          {
            "type": "text",
            "id": "logo_image_size",
            "label": "e.g. 800x"
          },
          {
            "type": "text",
            "id": "logo_image_srcset",
            "label": "srcset string (see image.liquid snippet for details)"
          },
          {
            "type": "text",
            "id": "logo_image_sizes",
            "label": "sizes string (see image.liquid snippet for details)"
          }
        ]
      },
      {
        "name": "Primary Navigation",
        "type": "primary_navigaiton",
        "limit": 1,
        "settings": [
          {
            "type": "link_list",
            "id": "primary_navigation_linklist",
            "label": "Primary Navigation Linklist",
            "default": "main-menu"
          }
        ]
      },
      {
        "name": "Secondary Navigation",
        "type": "secondary_navigaiton",
        "limit": 1,
        "settings": [
          {
            "type": "link_list",
            "id": "secondary_navigation_linklist",
            "label": "Secondary Navigation Linklist"
          }
        ]
      }
    ]
  }
{% endschema %}
