<section data-section-id="{{ section.id }}" data-section-type="newsletter-signup">

  {%- include 'form-newsletter-signup',
    title: section.settings.title,
    subtitle: section.settings.subtitle,
    button_text: section.settings.button_text,
    placeholder_text: section.settings.placeholder_text,
    provider: section.blocks[0].type,
    m_url: section.blocks[0].settings.m_url,
    m_u: section.blocks[0].settings.m_u,
    m_id: section.blocks[0].settings.m_id,
    m_ajax_id: section.blocks[0].settings.m_ajax_id,
    k_g: section.blocks[0].settings.k_g,
    k_js_source: section.blocks[0].settings.k_js_source -%}

</section>

{% schema %}
  {
    "name": "Newsletter Signup",
    "max_blocks": 1,
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Headline for form",
        "info": "[Optional]"
      },
      {
        "id": "subtitle",
        "type": "text",
        "label": "Subtitle for form",
        "info": "[Optional]"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Text for submit button",
        "info": "[Optional]",
        "default": "Sign Up"
      },
      {
        "id": "placeholder_text",
        "type": "text",
        "label": "Placeholder text for form input",
        "info": "[Optional]"
      }
    ],
    "blocks": [
      {
        "name": "Mailchimp",
        "type": "mailchimp",
        "settings": [
          {
            "type": "text",
            "id": "m_url",
            "label": "Text Block for `url`"
          },
          {
            "type": "text",
            "id": "m_u",
            "label": "Text Block for `u`"
          },
          {
            "type": "text",
            "id": "m_id",
            "label": "Text Block for `id`"
          },
          {
            "type": "text",
            "id": "m_ajax_id",
            "label": "Text Block for `ajax_id`"
          }
        ]
      },
      {
        "name": "Klaviyo",
        "type": "klaviyo",
        "settings": [
          {
            "type": "text",
            "id": "k_g",
            "label": "Text Block for `g`"
          },
          {
            "type": "text",
            "id": "k_js_source",
            "label": "Text Block for `js-source`"
          }
        ]
      },
      {
        "name": "Bronto",
        "type": "bronto",
        "settings": []
      }
    ]
  }
{% endschema %}
