<section data-section-id="{{ section.id }}" data-section-type="primary-navigation">

  {%- include 'primary-navigation',
    menu: section.settings.primary_navigation_linklist -%}

</section>

{% schema %}
  {
    "name": "Primary Navigation",
    "settings": [
      {
        "type": "link_list",
        "id": "primary_navigation_linklist",
        "label": "Primary Navigation Linklist",
        "default": "main-menu"
      }
    ],
    "blocks": []
  }
{% endschema %}
