{%- comment -%}

  Required arguments:
  - menu

  Optional arguments:
  -

{%- endcomment -%}


<nav class="oo-secondary-navigation">

  {%- for parent in linklists[menu].links -%}

    {%- if parent.levels > 0 -%}

      {%- capture parent_content -%}
        {{ parent.title }}
        {%- for child in parent.links -%}

          {%- if child.levels > 0 -%}

            {%- capture child_content -%}
              {{ child.title }}
              {%- for grandchild in child.links -%}
                {%- include 'link',
                  href: grandchild.url,
                  content: grandchild.title,
                  classes: 'header--grandchild-link' -%}
              {%- endfor -%}
            {%- endcapture -%}

            {%- include 'link',
              href: child.url,
              content: child_content,
              classes: 'header--child-link' -%}

          {%- else -%}

            {%- include 'link',
              href: child.url,
              content: child.title,
              classes: 'header--child-link' -%}

          {%- endif -%}


        {%- endfor -%}


      {%- endcapture -%}

      {%- include 'link',
        href: parent.url,
        content: parent_content,
        classes: 'header--parent-link' -%}

    {%- else -%}

      {%- include 'link',
        href: parent.url,
        content: parent.title,
        classes: 'header--parent-link' -%}

    {%- endif -%}

  {%- endfor -%}

</nav>
