{%- comment -%}

  Required arguments:
  - line_item

  Optional arguments:
  - classes
  - attrs

{%- endcomment -%}


{%- capture line_item_inline_cart_content -%}

  {%- capture href -%}
    href="{{ line_item.variant.url }}"
  {%- endcapture -%}

  {%- include 'image',
    resource: line_item,
    size: '80x',
    wrapper_tag: 'a',
    classes: 'oo-line-item--image-wrapper',
    attrs: href -%}

  {%- assign href = nil -%}


  <div class="oo-line-item--information-wrapper">

    {%- include 'header',
      title: line_item.product.title,
      level: 3 -%}

    {%- include 'price',
      _price: line_item.price,
      type: 'line_item.price' -%}

    {%- include 'button',
      content: 'remove',
      classes: 'button--text',
      attrs: 'data-remove-from-cart' -%}

  </div>

  <div class="oo-line-item--quantity">

    {%- include 'quantity-select', quantity: line_item.quantity -%}

  </div>

{%- endcapture -%}


{%- include 'line-item-container',
  name: 'inline-cart',
  line_item: line_item,
  content: line_item_inline_cart_content -%}

{%- assign line_item_inline_cart_content = nil -%}
