{% comment %}

  Required arguments:

  Optional arguments:
  - show_compare_at_price
  - show_option_name
  - show_selected_value
  - add_to_cart_button_text
  - add_to_cart_button_classes

{% endcomment %}


<div class="product-info {{ classes -}}" {{ attrs -}}>
  {%- include 'header', title: _product.title -%}

  {%- include 'price',
    _price: _product.price,
    type: 'product.price' -%}

  {%- if _product.compare_at_price > _product.price and show_compare_at_price == true -%}

    {%- include 'price',
      _price: _product.compare_at_price,
      type: 'product.compare_at_price' -%}

  {%- endif -%}

  {%- include 'text', content: _product.description, rte: true -%}

  {%- include 'add-to-cart-form',
    show_option_name: show_option_name,
    show_selected_value: show_selected_value,
    add_to_cart_button_text: add_to_cart_button_text
    add_to_cart_button_classes: add_to_cart_button_classes -%}
</div>
