{%- comment -%}

  Required arguments:
  - _product

  Optional arguments:
  - classes
  - attrs

{%- endcomment -%}


{%- capture template_product_content -%}
  <div class="product-images">

    {%- include 'product-gallery', images: _product.images, -%}

  </div>

  <div class="product-info">
    {%- include 'header', title: _product.title -%}

    {%- include 'price', resource: _product -%}

    {%- include 'price',
      resource: _product,
      compare_at_price: true -%}

    {%- include 'add-to-cart-form', _product: _product -%}
  </div>
{%- endcapture -%}


{%- include 'product-container',
  name: 'product-template',
  _product: _product,
  content: template_product_content,
  classes: 'product-main' -%}

{%- assign template_product_content = nil -%}
