{% comment %}

  Required arguments:

  Optional arguments:
  - with_nav
  - filter_group_option
  - filter_attr

{% endcomment %}


<div class="product-images {{ classes -}}" {{ attrs -}}>

  {%- capture product_gallery_slides -%}
    {%- for image in _product.images -%}
      {%- include 'image',
        resource: image,
        size: '1440x',
        srcset: '480x 480w, 720x 720w, 1440px 2x'
        lazyload: false,
        wrapper: false,
        format: 'pjpg',
        attrs: 'data-product-gallery-slide'  -%}
    {%- endfor -%}
  {%- endcapture -%}

  {%- include 'slider',
    name: 'product-gallery',
    slides: product_gallery_slides,
    with_nav: with_nav,
    filter_group_option: filter_group_option,
    filter_attr: filter_attr -%}

</div>
