{%- comment -%}

  Required arguments:
  - _product

  Optional arguments:
  - classes
  - attrs

{%- endcomment -%}


{%- capture template_product_content -%}
  <div class="product-images">
    {%- include 'slider-product-gallery', images: _product.images, -%}
  </div>

  <div class="product-info">
    {%- include 'header', title: _product.title -%}

    {%- if _product.price_varies -%}
      {%- include 'price',
        resource: _product,
        range: true -%}
    {%- else -%}
      {%- include 'price', resource: _product -%}
    {%- endif -%}

    {%- if _product.compare_at_price_varies and _product.compare_at_price-%}
      {%- include 'price',
        resource: _product,
        compare_at_price: true,
        range: true -%}
    {%- elsif _product.compare_at_price-%}
      {%- include 'price',
        resource: _product,
        compare_at_price: true -%}
    {%- endif -%}

    {%- include 'form-add-to-cart', _product: _product -%}
  </div>
{%- endcapture -%}


{%- include 'product-container',
  name: 'product-template',
  _product: _product,
  content: template_product_content -%}

{%- assign template_product_content = nil -%}
