{%- comment -%}

  Required arguments:
  - content

  Optional arguments:
  - type
  - icon
  - classes
  - attrs

{%- endcomment -%}


<button class="oo-button {{ classes -}}"
  {%- if type != blank -%}type="{{- type -}}"{%- endif -%}
  {{ attrs -}}>

  {%- if icon != blank -%}

    {%- include 'icon',
      name: icon,
      classes: '',
      attrs: '' -%}

  {%- endif -%}

  {%- if content != blank -%}

    {{- content -}}

  {%- endif -%}

</button>
