{%- comment -%}

  Required arguments:
  - name

  Optional arguments:
  - classes
  - attrs

{%- endcomment -%}


<div class="oo-icon icon-{{- name }} {{ classes -}}" {{ attrs -}}>

  {%- assign icon_name = name | remove_first: 'icon-' | prepend: 'icon-' -%}

  {%- include icon_name -%}

  {%- assign icon_name = nil -%}

</div>
