{% comment %}

  Arguments:

  - icon
  - text
  - classes
  - attrs

{% endcomment %}


<div class="oo-icon-with-text {{ classes -}}" {{ attrs -}}>

  {%- include 'icon', name: icon -%}

  {{- text -}}

</div>

