{% comment %}

  Arguments:

  - line_item
  - classes
  - attrs

{% endcomment %}

{% comment %}
  consider moving line_item.key to js
{% endcomment %}


<div
  class="oo-line-item {{ classes -}}"
  data-line-item
  data-line-item-key="{{ line_item.key }}"
  {{ attrs -}}>

  {%- capture href -%}
    href="{{ line_item.variant.url }}"
  {%- endcapture -%}

  {%- include 'image',
    resource: line_item.product.featured_image,
    size: '800x',
    srcset: '480x,600x,768x,450x,575x',
    sizes: 'max 480px 480px,max 600px 600px,max 768px 768px,max 992px 992px,min 993px 575px',
    wrapper_tag: 'a'
    classes: 'oo-line-item--image-wrapper',
    attrs: href -%}

  {%- assign href = nil -%}


  <div class="oo-line-item--information-wrapper">

    {%- include 'header',
      title: line_item.product.title,
      level: 4 -%}

    {%- include 'price',
      resource: line_item.variant -%}

    {%- include 'text',
      content: line_item.product.title -%}

    {%- include 'quantity-select',
      quantity: line_item.quantity -%}

    {%- include 'price',
      resource: line_item -%}

  </div>


  {%- capture content -%}
    {%- include 'icon', name: 'cancel' -%}
  {%- endcapture -%}

  {%- include 'button',
    content: content,
    attrs: 'data-cart-remove-item' -%}

  {%- assign content = nil -%}

</div>
