{%- comment -%}

  Required arguments:
  - _price
  - type

  Optional arguments:
  - classes
  - attrs

{%- endcomment -%}


<div
  class="oo-price {{ classes -}}"
  data-price="{{- type -}}"
  {{ attrs -}}>

  {{- _price | money -}}

</div>
