{%- comment -%}

  Required arguments:

  Optional arguments:
  - quantity
  - classes
  - attrs

{%- endcomment -%}


{%- capture input_value -%}
  {%- if quantity != blank -%}{{ quantity }}{%- else -%}1{%- endif -%}
{%- endcapture -%}


<div class="oo-quantity-select {{ classes -}}" {{ attrs -}}>

  {%- include 'button',
    content: '-',
    attrs: 'data-quantity-change=-1' -%}

  {%- include 'input',
    type: 'number',
    name: 'quantity',
    value: input_value,
    attrs: 'min=1 data-quantity-value readonly' -%}

  {%- include 'button',
    content: '+',
    attrs: 'data-quantity-change=1' -%}

</div>

{%- assign input_value = nil -%}
