<section
  class="oo-footer"
  data-section-id="{{ section.id }}"
  data-section-type="footer">

  {%- for block in section.blocks -%}
    {%- case block.type -%}

      {%- when 'logo' -%}

        {%- include 'image',
          resource: block.settings.footer_logo,
          size: '200x',
          wrapper_tag: 'a',
          classes: 'footer--logo',
          attrs: 'href="/"' -%}

      {%- when 'contact' -%}

        {%- include 'footer-contact', content: block.settings.footer_contact_info -%}

      {%- when 'social_links' -%}

        {%- include 'footer-social-links', block_settings: block.settings, -%}

      {%- when 'footer_links' -%}

        {%- include 'footer-links',
          menu: block.settings.footer_links_link_list,
          show_social_icons: block.settings.show_social_icons -%}

      {%- when 'newsletter' -%}

        {%- include 'footer-newsletter-signup',
          header: block.settings.heading,
          placeholder: block.settings.placeholder_text,
          submit_icon: block.settings.submit_icon,
          submit_text: block.settings.submit_text -%}

    {%- endcase -%}
  {%- endfor -%}

</section>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "footer_enabled",
        "label": "Footer Enabled?",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "footer_logo",
            "label": "Footer Logo"
          }
        ]
      },
      {
        "type": "contact",
        "name": "Contact",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "footer_contact_info",
            "label": "Footer Contact Info",
            "default": "<ul class='contact-items'><li><a href='mailto:support@mvmt.com'>support@mvmt.com</a></li><li>Call Toll-Free <br> <a href='tel:8885070220'>+1 (888) 507-0220</a></li><li>M-T 8:30-2 pm &amp; F 9-1 pm PST</li></ul>"
          }
        ]
      },
      {
        "type": "social_links",
        "name": "Social Links",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "facebook_link",
            "label": "Show Facebook Link",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "twitter_link",
            "label": "Show Twitter Link",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "instagram_link",
            "label": "Show Instagram Link",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "youtube_link",
            "label": "Show YouTube Link",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "pinterest_link",
            "label": "Show Pinterest Link",
            "default": false
          }
        ]
      },
      {
        "type": "footer_links",
        "name": "Footer Links",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show Icon with Social Links",
            "default": true
          },
          {
            "type": "link_list",
            "id": "footer_links_link_list",
            "label": "Footer Navigation Linklist",
            "default": "footer"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter Sign Up",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Newsletter Sign Up Heading",
            "default": "Sign Up For Newsletter"
          },
          {
            "type": "text",
            "id": "placeholder_text",
            "label": "Email Input Placeholder Text",
            "default": "Email"
          },
          {
            "type": "text",
            "id": "submit_icon",
            "label": "Icon for Submit Button",
            "info": "write out the icon snippet name e.g. `icon-envelope`",
            "default": "icon-add"
          },
          {
            "type": "text",
            "id": "submit_text",
            "label": "Text for Submit Button"
          }
        ]
      }
    ]
  }
{% endschema %}
