<section class="oo-modal"
  data-section-id="{{ section.id }}"
  data-section-type="modal"
  data-modal>

  {%- include 'modal' -%}

</section>


{% schema %}
  {
    "name": "Modal",
    "settings": []
  }
{% endschema %}
