/* ==========================================================================
   # FONT
   ========================================================================== */

.u-text-center {
  text-align: center !important;
}

.u-text-bold {
  font-weight: 700 !important;
}

.u-text-nowrap {
  white-space: nowrap;
}

/* ==========================================================================
   # HIDE
   ========================================================================== */

/**
 * Hide visually and from screen readers.
 */

.u-hidden {
  display: none !important;
}

.u-no-list-style {
  list-style: none !important;
}

/* ==========================================================================
   # CONTAINERS
   ========================================================================== */

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* --- */

.u-visually-hidden {
  @include visually-hidden;
}

.u-js-focus-hidden:focus {
  outline: none;
}

.u-label-hidden {
  @include visually-hidden;

  // No placeholders, so force show labels
  .u-no-placeholder & {
    @include visually-shown;
  }
}

.u-visually-shown {
  @include visually-shown;
}

// Only show when JS is not supported
.u-no-js:not(html) {
  display: none;

  .u-no-js & {
    display: block;
  }
}

// Only show when JS is supported
.u-js {
  .u-no-js & {
    display: none;
  }
}

// Only show when browser cookies are not supported
.u-supports-no-cookies:not(html) {
  display: none;

  html.u-supports-no-cookies & {
    display: block;
  }
}

// Only show when browser cookies are supported
.u-supports-cookies {
  html.u-supports-no-cookies & {
    display: none;
  }
}

// Skip to content button
// Overrides .u-visually-hidden when focused
.u-skip-link:focus {
  @include visually-shown(absolute);
  z-index: 10000;
  // padding: $grid-gutter / 2;
  background-color: $color-body;
  color: $color-body-text;
  transition: none;
}

.u-hide {
  /* stylelint-disable declaration-no-important */
  display: none !important;
}
